.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  float: left;
  justify-content: center;
}
.block {
  width: 200px;
}
.btn-group button {
  background-color: PaleTurquoise ; /* Green background #04AA6D */
  border: 1px solid LightCyan; 
  color: Navy; 
  width: 18px;
  padding: 2px 2px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
//  float: left; /* Float the buttons side by side */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: Magenta;
//  background-color: #3e8e41;
}
.button {
  background-color: #04AA6D; /* Green */
  border: 3px brown;
  color: white;
  padding: 15px 32px;
  align: center;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #f44336;} /* Red */ 
.button4 {background-color: #e7e7e7; color: black;} /* Gray */ 
.button5 {background-color: #555555;} /* Black */

textarea {resize:none;background-color:#e7e7e7;width:10;height:15;}
iframe {background-color:powderblue;frameBorder:0;scrolling:auto;width:135px;height:200px;}
table {
  border: 1px solid black;
  border-collapse: collapse;
  margin: 25px;
}
th {
  background-color: black;
  color: white;
  text-align: left;
}
tr {
  background-color: blue;
  color: white;
  text-align: right;
}
tr:nth-child(even) {
  background-color: red;
}


